*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

ul{
    list-style-type: none;
}
li{
    display:inline;
}

a{
    text-decoration: none;
    color: #333;

}


